<!DOCTYPE html>
<html lang="en" data-theme="dracula">
<head>

<title>Session | {% block title %}{% endblock %}</title>
<meta name="author" content="wtfchewy">

<meta charset="utf-8">
<meta content="#282a36" data-react-helmet="true" name="theme-color" />

<!-- CSS -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.24/dist/full.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="flex flex-col min-h-screen">
<div class="navbar bg-base-100">
    <div class="navbar-start">
        <ul class="menu menu-horizontal px-6">
            <li><a class="bg-base-300" href="https://github.com/wtfchewy/sessionlogin">GitHub</a></li>
        </ul>
    </div>
        <div class="navbar-center">
            <a href="/" class="flex-0 btn btn-ghost px-6">
                <div class="font-title text-primary inline-flex text-3xl">
                    <span class="lowercase">session</span>
                    <span class="text-base-content lowercase">login</span>
                </div>
            </a>
        </div>
        <div class="navbar-end">
            <ul class="menu menu-horizontal gap-3 px-6">
                {% if data.signed_in == False %}
                <li><a class="bg-base-300" href="/login">Account</a></li>
                <li><a class="bg-base-300" href="/signup">Get Started</a></li>
                {% else %}
                <li><a class="bg-base-300" href="/dashboard">Dashboard</a></li>
                <li><a class="bg-error" href="/logout">Logout</a></li>

                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div >
{% block content %}
    <p>Default content...</p>
{% endblock content %}
</div>

</body>

<footer class="mt-auto footer footer-center p-4 bg-base-300 text-base-content">
    <div>
        <p>made by <a href="https://github.com/wtfchewy/" class="link link-secondary">wtfchewy</a></p>
    </div>
</footer>
</html>
