{% extends 'base.html' %}

{% block content %}

<div class="min-h-full flex items-center justify-center mt-10 py-12 px-8">

    <div class="card shrink-0 w-full max-w-md bg-base-200">
        <h2 class="mt-5 text-center text-4xl font-extrabold text-primary">Log in</h2>

        <form class="card-body" method="POST">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Account Number</span>
                </label>
                <input name="account_number" type="text" inputmode="numeric" maxlength="16" placeholder="Enter your account number" class="input input-bordered" required />
                </div>
                <div class="form-control mt-6">
                <button class="btn btn-primary">Login</button>
            </div>
        </form>

        <span class="mb-2 text-center link link-secondary">I lost my account number</span>
        <div class="mx-8 divider"></div> 
        <button class="mb-8 mx-8 btn btn-secondary">Create new account</button>
        
    </div> 
    
</div>
{% if data.error == True %}
<ul class='absolute bottom-20 right-2 grid gap-2 grid-flow-row auto-rows-max form-errors '>
    <div role="alert" class="alert alert-error">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span>Invalid login credentials.</span>
    </div>
</ul>
{% endif %}
{% endblock content %}